.quizz-container {
  width: 80%;
  margin: 20px auto;
}

.quizz-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.quizz-logo h3 {
  margin-top: 20px;
}

.quizz-questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4224d9;
  border-radius: 8px;
  background-color: #644ed2;
  width: 100%;
  height: 200px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.quizz-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.btn-option {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #18ab29;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  padding: 16px 31px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0px 3px 0px #2f6627;
}

.btn-option:hover {
  background-color: #5cbf2a;
  transition: 0.8s;
}

.btn-option:active {
  position: relative;
  top: 1px;
}

.quizz-results {
  width: 100%;
  height: 350px;
  background-color: rgb(33, 2, 57);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
